:root {
    color-scheme: light dark;
}

@font-face {
    font-family: 'fira';
    src: url('/assets/FiraSans-Book.ttf');
}
fieldset div {
    text-align: center;
    margin: 0.4in;
}
body {
    font-family: 'consolas';
}

main {
    border: 1px solid black;
}

form {
    text-align: center;
    font-family: 'arial';
}

#calendar {
    margin-top: 4em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.day-cell {
    color: black;
}

#view-switch {
    text-align: center;
    height: 4em;
}

#progress {
    /* --progress-color: red; */
    text-align: center;
    width: 40%;
    height: 4em;
}

#progress-stats {
    text-align: center;
    border-top: 2px grey solid;
}

#progress-label {
    margin: 0px;
}

#calendar th {
    width: 36pt;
    font-family: 'fira';
    transform-origin: top left;
    transform: rotate(-45deg);
}

#calendar .day-cell {
    height: 36pt;
    border: 2px solid black;
    background-color: green;
}

.input-comment {
    display: inline;
}

.error {
    background-color: #f08686;
    color: #850909;
}

input[type='checkbox'] {
    accent-color: #00ff00;
}

input:is([type='text'], [type='email'], [type='password']) {
    border-radius: 10px;
}

input:is([type='text'], [type='email'], [type='password']):focus {
    border-radius: 2px;
}

/* .transparent { */
/*     opacity: 0; */
/* } */
.fadeable {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fadeable.show {
    opacity: 1;
    transform: translateY(100px);
}

#toast {
    background-color: indigo;
    text-align: center;
    color: white;
}

.positive {
    background-color: green;
}

.negative {
    background-color: red;
}

dialog#create-task-dialog {
    width: 50%;
    height: 75%;
    text-align: center;
    vertical-align: middle;
}

.hidden {
    display: none;
}

#face {
    stroke: black;
    stroke-width: 1;
}

header {
    text-align: center;
    font-family: 'fira';
}

canvas#grid {
    z-index: -1;
}

.taskitem > input[type='checkbox'] {
    color: green;
    width: 36px;
    height: 75%;
}

.tasklabel {
    vertical-align: middle;
    font-family: 'fira';
    font-weight: bold;
}

.task-status {
    margin-right: 1in;
    text-decoration: underline;
    opacity: 1;
}

button#addtask {
    font-size: 12pt;
}

button.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.delete-button2 {
    background-color: transparent;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    float: right;
    height: 60%;
}

.tasklist {
    display: flex;
    align-items: center;
}

.taskitem {
    position: relative;
    display: block;
    padding: 0;
    height: 3em;
    border: 4px solid black;
    background-color: #00d0ff;
    border-radius: 10px;
    margin-bottom: 4px;
}

.taskitem + .late {
    opacity: 0.5;
    border-width: 1px;
}

.disabled {
    background-color: #f0f0f0;
}

.proto-task-item {
    background-color: #e0e0e0;
    padding: 0em;
    margin: 1em;
}

.rec-label {
    width: 33%;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    opacity: 1;
}

a {
    font-size: 8pt;
}

#rec-link {
    float: right;
}

.tooltip {
    position: relative;
    /* display: inline-block; */
}

.tooltiptext {
    position: absolute;
    left: 30%;
    top: 5%;
    visibility: hidden;
    background-color: blue;
    color: white;
    padding: 5px 0;
    z-index: 2;
    /* position: absolute; */
}

.taskitem:hover .tooltiptext {
    visibility: visible;
}

.day-cell-exist {
    cursor: pointer;
}

#month-name {
    text-decoration: underline;
}

textarea {
    resize: none;
}
