:root {
    color-scheme: light dark;
}
label {
}
input[type='text'],
input[type='email'] {
    border-radius: 10px;
}
#tooltip {
    background-color: cyan;
    border-color: #002060;
    color: black;
}
.hidden {
    display: none;
}
